<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SwapHub - About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body class="bg-light">
<!--Reusable navbar-->
<script type="text/javascript" src="navbar.js"></script>
<script>
        {{#username}}
        setupNavbarUser("{{username}}", "{{username}}.jpg");
        createNavbar("profile");
        {{/username}}
        {{^username}}
        createNavbar("profile", false);
        {{/username}}
</script>
<!--Reusable navbar ends-->
<div class="container row mx-auto">
    <p class="mt-5  col-7">
        SwapHub is a Canadian marketplace website
        and the largest marketplace site on the Internet.
        SwapHub was launched in Toronto, providing professional
        and amateur marketplace since 2018.
        SwapHub also has offices and servers in San Francisco, Houston,
        New Orleans and London. In March 2018, SwapHub was bought by
        Manwin (now known as MindGeek), which owns numerous other
        marketplace websites.
    </p>
</div>


</body>
</html>