<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login to SwapHub</title>

    <link rel="shortcut icon" href="public/app/img/logic_pp.jpeg"> <!--todo: title icon-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body class="bg-light">
<!--Reusable navbar-->
<script type="text/javascript" src="navbar.js"></script>
<script>index = true; createNavbar("profile", false);</script>
<!--Reusable navbar ends-->
<div class="login-form" id="loginContainer">
</div>

<script type="text/javascript" src="login.js"></script>
<script>displayLoginDOM()</script>
</body>
</html>
