.listingContainer {
    margin-top: 50px;
    /* margin-left: 50px; */
}

#listingInfo {
    margin-top: 50px;
    /* margin-right: 50px; */
}


.imagesContainer{
    width: 100%;
    max-height: 500px;
    height: 100%;
    /* max-width: 800px; */
}

.profilePicContainer {
    padding-left: 5px;
}

#itemProfileContainer {
    font-size: 1.25rem;
}


.profilePic {
    border-radius: 50%;
    margin: 5px;
}

.profileLink:hover {
    text-decoration: none;
}


#itemDescription {
    font-size: 1.50rem;
    /* margin-right: 50px; */
}

#itemCondition {
    font-size: 1.50rem;
    font-weight: bold;
    /* margin-right: 50px; */
}

@media (min-width: 544px) {
    #priceTag {
        color: rgb(7, 187, 46);
        font-size: 1.5rem;
        /* margin-right: 50px; */
    }
  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {
    #priceTag {
        color: rgb(7, 187, 46);
        font-size: 2rem;
        /* margin-right: 50px; */
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {

    #priceTag {
        color: rgb(7, 187, 46);
        font-size: 2.5rem;
        /* margin-right: 50px; */
    }
  }




/* .profilePicContainer {
    padding-left: 5px;
}

.profilePic {
    border-radius: 50%;
    margin: 5px;
}

.profileLink:hover {
    text-decoration: none;
}

.listingDetails {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 5px;
    padding-top: 0px;
}

.listingDetails li {
    display: inline-block;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#listingsContainer {
    padding-top: 10px;
}

.listingImageContainer {
    position: relative;
    max-height: 250px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}

.listingImage {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.listing {
    transition: box-shadow 350ms;
    text-overflow: ellipsis;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.listing:hover {
    box-shadow: 0 0px 20px 0 rgba(0, 0, 1, 0.2), 0 0px 20px 0 rgba(0, 0, 1, 0.19);
} */
