html {
    font-size: 14px;
}

.orange {
    background-color: #ffa500;
    padding: 2px;
    margin-left: -3px;
    border-radius: 10%;
    color: black;
}

.profilePicContainer {
    padding-left: 5px;
}

.profilePic {
    border-radius: 50%;
    margin: 5px;
    border: #ffa500;
    border-style: solid;
}

.profileLink:hover {
    text-decoration: none;
}

.listingDetails {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 5px;
    padding-top: 0px;
}

.listingDetails li {
    display: inline-block;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#listingsContainer {
    padding-top: 10px;
}

.listingImageContainer {
    position: relative;
    max-height: 250px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}

.listingImage {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.listing {
    transition: box-shadow 350ms;
    text-overflow: ellipsis;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.listing:hover {
    box-shadow: 0 0px 20px 0 rgba(0, 0, 1, 0.2), 0 0px 20px 0 rgba(0, 0, 1, 0.19);
}

/*Profile style*/
#userInfoContainer{
    padding-top: 20px;
}

/*end of Profile style*/